

<div class="container-fluid mt-5 about-style" id="aboutid">
       <div class="row">

         <div class="col-md-10 col-12 mx-auto">

           <h1 class="text-center main-heading">ABOUT US</h1>
           <p class="text-center sub-heading">ALL YOU NEED TO KNOW</p>

           <div class="row">
              <div class="col-md-6 col-12 hero-text ">

               <figure>
                 <img src="images/ninja.svg" alt="herosection_image" height="280px">
               </figure>
             </div>

             <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
               <h1>DEADS ESPORTS</h1>
               <h2>Was Founded By DieGamingYT</h2>
               <p id="aboutp">IN 2017 OUR COMMUNITY IS UNITED THROUGH DISCORD</p>
               <button class="btn-style btn-primary" ><img id="dsc" src="https://www.svgrepo.com/show/353655/discord-icon.svg" title="discord" height="19px"/> DISCORD</button>


             </div>
           </div>
         </div>
       </div>
     </div>