
<div class="container-fluid mt-5 about-style" id="serviceid">
       <div class="row">

         <div class="col-md-10 col-12 mx-auto">

           <h1 class="text-center main-heading">TOURNAMENTS</h1>
           <p class="text-center sub-heading">FOLLOWING GAMES TOURNAMENTS ARE ORGANIZED BY DEADS ESPORTS</p>
           <table class="center">
<tr><td>
           <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn2.vectorstock.com/i/1000x1000/16/71/pubg-player-black-and-white-vector-23641671.jpg" alt="Card image cap"width="100px" height="200px">
  <div class="card-body">
    <h3 class="card-title"><span class="strong">PUBGMOBILE</span></h3>
    <p class="card-text">Get You Self Registered To Win Huge Prize Pool</p>
    <a href="#" class="btn btn-primary">REGISTER</a>
  </div>
</div>
</td>

<td><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://seeklogo.com/images/V/valorant-logo-FAB2CA0E55-seeklogo.com.png" alt="Card image cap" width="100px" height="200px">
  <div class="card-body">
<h3 class="card-title"><span class="strong">VALORANT</span></h3>
    <p class="card-text">Get You Self Registered To Win Huge Prize Pool</p>
    <a href="#" class="btn btn-primary">REGISTER</a>
  </div>
</div></td>
</tr>
</table>

         





            
        </div>
    </div>
</div>
